body {
  background: url("http://www.sharecg.com/images/medium/23831.jpg") no-repeat center;
background-size: cover;
}
#choice {
  position: absolute;
  height: 150px;
  width: 300px;
  background: #0066ff;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  color: black;
  box-shadow: 5px 5px 5px black;
}

button {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 25px;
  box-shadow: 3px 3px 3px black;
}

td {
  width: 125px;
  height: 125px;
  color: black;
  font-size: 40px;
}
table {
  margin-top: 40px;
  text-align: center;
  border-collapse: collapse;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  
}
table td {
  border: 3px solid black;
}
#title {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}
td:hover {
  background: #0066ff;
}
#buttons {
  text-align: center;
}
#reset {
  margin-top: 50px;
  
}
#created {
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  margin-top: 20px;
}
#created a {
  color: #0066ff;
  
}
